container_commands:
  01_migrate:
    command: "python iotd/manage.py migrate --noinput"
    leader_only: true
  02_createsu:
    command: "python iotd/manage.py createsu"
    leader_only: true
  03_collectstatic:
    command: "python iotd/manage.py collectstatic --noinput"

option_settings:
  "aws:elasticbeanstalk:application:environment":
    DJANGO_SETTINGS_MODULE: "iotd.settings"
    "PYTHONPATH": "./iotd"
  "aws:elasticbeanstalk:container:python":
    WSGIPath: iotd/iotd/wsgi.py
    NumProcesses: 3
    NumThreads: 20
  "aws:elasticbeanstalk:container:python:staticfiles":
    "/static/": "www/static/"
packages:
  yum:
    postgresql95-devel: []
