{% extends "base.html" %}

{% block extra_css %}
  <style>
    
  </style>
{% endblock %}
{% block additions %}
  <table id = "image_table" style="max-width:80%" align = "center" cellpadding="0" cellspacing="0">
    </table> 

    <script> 
    // from https://groups.google.com/forum/#!topic/django-users/PI7F3_U4eC4
    var img_urls = [{% for image in images %}"{{ image.img.url }}"{% if not forloop.last %},{% endif %}{% endfor %}];
    var array_length = img_urls.length
    var table = document.getElementById("image_table");
    var iterator = 0;
    var row_num = 0;
    var cell_num = 0;
    for (i = 0; i < array_length; i++){
        // start new row
        if (i % 3 == 0){
           var row = table.insertRow(row_num++);
           console.log("row created");
        }
        var cell = row.insertCell(0);
        console.log("cell created");
        
    }
    row_num = 0;

    {% for image in images %}
        row_num = iterator / 3;
        console.log(row_num);
        cell_num = iterator % 3;
        console.log(cell_num);
        var row = table.rows[row_num];
        var cell = row.cells[cell_num];
        cell.innerHTML += "<a href = {% url 'about_image' image.name %}><img src=" + img_urls[iterator] + " width = '500' height = '303' style= 'max-width:100%; height:auto;'>";
        iterator++;
    {% endfor %}

    </script>

  {% endblock %}

    <!--{% block content %}
    <img src = "{{image.img.url}}">
    {% endblock %}
    -->
