{% extends "base.html" %}

{% block extra_css %}{
  <style>
    td.lighten {
    background: white;
  }

  td.lighten img {
     -webkit-transition: all 0.2s linear;
       -moz-transition: all 0.2s linear;
        -ms-transition: all 0.2s linear;
         -o-transition: all 0.2s linear;
            transition: all 0.2s linear;
  }

  td.lighten:hover img{
    opacity : 0.7;
  }

  td.lighten:hover .img-description{
    visibility: visible;
      opacity: 1;
  }

  td {
    border-right: 5px solid transparent;
      -webkit-background-clip: padding;
      -moz-background-clip: padding;
      background-clip: padding-box;
  }
  </style>
{% endblock %}
{% block additions %}
    <table style="max-width:80%" align = "center" cellpadding="0" cellspacing="0">
    </table> 

    <script> 
    // from https://groups.google.com/forum/#!topic/django-users/PI7F3_U4eC4
    var img_urls = [{% for image in images %}"{{ image.img.url }}"{% if not forloop.last %},{% endif %}{% endfor %}];

    var array_length = img_urls.length
    for (i = 0; i < array_length; i++){
      img_urls[i].height *= .25
      img_urls[i].width *= .25
        // start new row
        if (i % 4 == 0){
           document.getElementById("image_table").innerHTML += "<tr>"
        }

        document.getElementById("image_table").innerHTML += "<td><img src=" + img_urls[i] + "></td>"

        // end current row when full
        if (i % 4 == 1){
          document.getElementById("image_table").innerHTML += "</tr>"
        }  
    }
    // if table doesn't end with a full row, end table row
    if (array_length % 4 != 1){
      document.getElementById("image_table").innerHTML += "</tr>"
    }
    //document.getElementById(image_table).innerHTML = 
    //document.getElementById("image1").innerHTML = "<img src = " + img_urls[1] + ">"

    </script>
  {% endblock %}

    <!--{% block content %}
    <img src = "{{image.img.url}}">
    {% endblock %}
    -->
