{% extends "base.html" %}

{% block extra_css %}
  <style>

  .display{
    margin: auto;
    text-align: center;
  }
  .display-elements{
    display: inline-block;
    vertical-align: top;
    margin: auto;
  }

  #empty-col{
    padding-left: 50px;
  }

  .vertical-menu a{
    display: block;
    text-align: left;
    padding-right: 10px;
  }

  gallery.lighten {
    background: white;
  }

  gallery.lighten img {
    -webkit-transition: all 0.2s linear;
       -moz-transition: all 0.2s linear;
        -ms-transition: all 0.2s linear;
         -o-transition: all 0.2s linear;
            transition: all 0.2s linear;
  }

  gallery.lighten:hover img{
    opacity : 0.7;
  }

  gallery.lighten:hover .img-description{
    visibility: visible;
      opacity: 1;
  }

  gallery {
    border-right: 5px solid transparent;
      -webkit-background-clip: padding;
         -moz-background-clip: padding;
          -ms-background-clip: padding;
           -o-background-clip: padding-box;
              background-clip: padding-box;
  }
  </style>
{% endblock %}
{% block additions %}
  <div class = "display">
    <div class = "display-elements">
      <div class = "vertical-menu">
        <a href = {%url 'home'%}> home </a>
        <a href = {%url 'gallery'%}> gallery </a>
      </div>
    </div>
    <div class = "display-elements">
      <table id = "image_table" style="max-width:100%; padding-left: 10px;" align = "center" cellpadding="0" cellspacing="0">
        <tr>
            <td style = "vertical-align: top; padding-right: 7px;">
              <table id = "column_1" cellpadding="2" cellspacing="0"></table>
            </td>
            <td style = "vertical-align: top; padding-right: 7px;">
                <table id = "column_2" cellpadding="2" cellspacing="0"></table>
            </td>
            <td style = "vertical-align: top; padding-right: 7px;">
                <table id = "column_3" cellpadding="2" cellspacing="0"></table>
            </td> 
        </tr>
     </table> 
    </div>
    <div class = "display-elements" id = "empty-col">
      
    </div>
  </div>  
  <script> 
    // from https://groups.google.com/forum/#!topic/django-users/PI7F3_U4eC4
    console.log("test");
    var img_urls = [{% for image in images %}"{{ image.img.url }}"{% if not forloop.last %},{% endif %}{% endfor %}];
    var array_length = img_urls.length;
    var column_height = Math.ceil(array_length / 3);
    var iterator = 0;

    for (var i = 0; i < 3; i++){
      var table_id = "";
      switch(i){
        case 0 : 
          table_id = "column_1";
          break;
        case 1 :
          table_id = "column_2";
          break;
        case 2 :
          table_id = "column_3";
          break;  
      }
      var table = document.getElementById(table_id);
      for (var j = 0; j < column_height; j++){
          var row = table.insertRow(j);
          var cell = row.insertCell(0);
      }
    }
    
    {% for image in images %}
        var column_num = Math.floor(iterator % 3);
        var table_id = "";
        switch(column_num){
        case 0 : 
          table_id = "column_1";
          break;
        case 1 :
          table_id = "column_2";
          break;
        case 2 :
          table_id = "column_3";
          break;  
        }
    
        var table = document.getElementById(table_id);
        var row_num = Math.floor(iterator/3);

        var inner_row = table.rows[row_num];
        var cell = inner_row.cells[0];
        cell.innerHTML += "<a href = '{% url 'gallery_image' image.name %}'><img src=" + img_urls[iterator] + " class = 'gallery' width = '330' height = 'auto' style= 'max-width:100%; height:auto;'>";
        iterator++;
    {% endfor %}
    

    </script>

  {% endblock %}
